@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
header p {
  width: auto;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline;
  padding: 8px 10px;
}
header span.material-icons {
  font-size: 50px;
  color: #f2f2f2;
}

nav {
  display: none;
}

main {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}
main .description {
  display: block;
  width: 100%;
  min-width: 365px;
  max-width: 400px;
}
main .description h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
}
main .description p {
  width: 75%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
main .description p.read-more {
  font-weight: bold;
  padding: 20px 0px;
}
main .description p span {
  position: relative;
  top: 8px;
}
main .gallary {
  display: block;
  width: 100%;
  min-width: 365px;
  max-width: 400px;
}
main .gallary .gallary-photo {
  width: 100%;
  min-width: 365px;
}
main .gallary .card-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  max-width: 365px;
  min-width: 250px;
  position: relative;
  bottom: 75px;
  left: 6%;
  background: black;
}
main .gallary .card-container .card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
main .gallary .card-container .card-head .img-container {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .gallary .card-container .card-head .img-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
main .gallary .card-container .card-head .details-container {
  display: flex;
  flex-direction: column;
}
main .gallary .card-container .card-head .details-container h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin: 3px 0px;
  width: auto;
}
main .gallary .card-container .card-head .details-container p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  margin: 3px 0px;
  width: auto;
}
main .gallary .card-container .card-content {
  width: 80%;
  max-width: 365px;
  min-width: 250px;
  padding: 0px 0px 0px 20px;
}
main .gallary .card-container .card-content p {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

@media screen and (min-width: 900px) {
  header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    margin: 30px 0px 100px;
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 10%;
  }
  main .description {
    display: block;
    width: 50%;
    min-width: 365px;
    max-width: 400px;
  }
  main .gallary {
    display: block;
    width: 50%;
    min-width: 365px;
    max-width: 400px;
  }
}
footer {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a9a9a9;
}

.open-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: black;
  z-index: 10;
}

.open-ul {
  box-sizing: border-box;
  height: 70%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.open-li {
  display: block;
}

.open-a {
  width: 50px;
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

.active {
  padding-bottom: 5px;
  border-bottom: 3px solid #f2f2f2;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
