main {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  h1 {
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #ffffff;
  }
  p {
    width: 75%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;

    &.read-more {
      font-weight: bold;
      padding: 20px 0px;
    }
    span {
      position: relative;
      top: 8px;
    }
  }
  img {
    width: 100%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    position: relative;
    bottom: 75px;
    left: 50px;
    background: black;
    .card-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .img-container {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
      }
      .details-container {
        display: flex;
        flex-direction: column;
        h3 {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          margin: 3px 0px;
          width: auto;
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          color: #828282;
          margin: 3px 0px;
          width: auto;
        }
      }
    }
    .card-content {
      width: 235px;
      padding: 0px 0px 0px 20px;
      p {
        font-family: "Lora", serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #ffffff;
      }
    }
  }
}
