footer {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a9a9a9;
    margin: auto;
  }
}
