@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.icon-container {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auto-icon {
  color: #4f4f4f;
  font-size: 22px;
}

.icon-text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #4f4f4f;
}
