@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #fafafa;
  max-width: 400px;
  min-width: 300px;
  margin: auto;
}

header {
  width: 100%;
  h1 {
    width: 90%;
    margin: 70px auto 40px;
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
  }
}

main {
  width: 100%;
  article {
    width: 90%;
    margin: 40px auto 70px;
    h2 {
      width: 300px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-transform: uppercase;
    }
    p {
      width: 300px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
  }

  @for $i from 1 through 6 {
    .section-#{$i} {
      width: 40%;
      position: relative;
      margin: 5%;
      img {
        width: 90%;
        height: auto;
      }
      p {
        width: 90px;
        font-family: "PT Serif", serif;
        font-size: 10px;
        line-height: 13px;
        text-transform: uppercase;
        transform: rotate(90deg);
        position: absolute;
        left: 68%;
        top: 12%;
      }
      h3 {
        margin-top: 5px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .section-2 {
    margin-top: 20%;
  }
  @each $i in (1, 3, 5) {
    .section-#{$i} {
      float: left;
    }
  }
  @each $i in (2, 4, 6) {
    .section-#{$i} {
      float: right;
    }
  }
}

footer {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a9a9a9;
    margin: auto;
  }
}

@media screen and (min-width: 800px) {
  body {
    max-width: 100%;
  }
  header {
    width: 40%;
    margin: 102px auto 150px;
    float: left;
    h1 {
      width: 80%;
      text-align: right;
      margin: auto;
    }
  }

  main {
    width: 100%;
    article {
      width: 40%;
      float: right;
      margin: 80px 5% 30px 0;
      h2 {
        text-align: left;
        width: 300px;
      }
      p {
        text-align: left;
        width: 300px;
      }
    }

    @for $i from 1 through 6 {
      .section-#{$i} {
        width: 25%;
        position: relative;
        float: left;
        margin: calc(10% / 6);
        img {
          max-width: 187px;
          height: auto;
        }
        p {
          position: absolute;
          left: 148px;
          top: 30px;
        }
        h3 {
          margin-top: 5px;
        }
      }
    }
    .section-2,
    .section-5 {
      margin-top: 100px;
    }
    .section-4,
    .section-1 {
      clear: both;
      margin-left: 15%;
    }
  }
}
